*, *::before, *::after {
  box-sizing: border-box;
}

/* GLOBAL */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 90px 50px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* HEADER */
.container {
  max-width: 100%;
  height: 100vh;
  margin-top: 0;
  padding: 0;
}

.container .img {
  background-image: url(../images/dark.jpeg);
  background-position: center center;
  object-fit: cover;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.inner-splash h1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 300;
  color: white;
  margin: 0 0 20px 0;
}

.inner-splash h2 {
  font-size: 100px;
  color: white;
  margin: 0 0 60px 0;
}

.inner-splash a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  background: #fdcb6e;
  padding: 30px 30px;
  border-radius: 5px;
}

.section-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
}

.section-title h1 {
  margin: auto;
  padding-bottom: 10px;
  font-size: 35px;
}

.section-title p {
  margin: auto;
  font-size: 20px;
  font-style: italic;
  padding-bottom: 60px;
  color: #474787;
}

/* ROW */
.container .col-md-4 {
  margin-left: 90px;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.container h6 {
  margin: 40px 0 0 0;
  font-size: 40px;
  font-family: "Great Vibes", cursive;
  color: #ff9f43;
}

.container .col-md-6 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: 50px;
  margin-right: 90px;
  padding: 0;
}

/* NAV */
.navi {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  font-style: 22px;
  margin: 0;
  list-style-type: none;
  /*display: flex;
	justify-content: flex-end;*/
}

.navi li {
  display: inline-block;
  padding: 0 15px 0 15px;
}

/* Services */
.card-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.card-box i {
  font-size: 35px;
  color: orange;
  border: 3px solid;
  height: 80px;
  width: 80px;
  text-align: center;
  padding: 15px 0;
  border-radius: 50%;
}

.card-box p {
  text-align: center;
  color: #474787;
}

/* OUR PORTFOLIO */
.portfolio {
  margin: 0;
  padding: 100px 90px;
  background: #f1f2f6;
}

.portfolio .card-box {
  background: white;
  margin-bottom: 40px;
}

.card-box img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.card-box h2 {
  margin-bottom: 0;
}

.card-box p {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-style: italic;
  color: #474787;
}

/* footer */
.footer {
  margin: 35px 90px;
}

.footer h6 {
  font-size: 20px;
}

.footer .col-md-6 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.footer .col-md-6 ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  margin: 0 70px;
}

.footer .col-md-6 ul a {
  font-size: 0;
}

.footer .col-md-6 ul i {
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: black;
  text-align: center;
  padding: 15px 0;
  border-radius: 50%;
  color: whitesmoke;
}

.footer li {
  padding: 0 10px;
}

/* MEDIA */
@media (max-width: 767px) {
  .container .col-md-6 {
    margin-top: 30px;
    margin-right: 0;
    padding: 0;
  }
  .container .col-md-4 {
    margin-left: 20px;
  }
  .navi li {
    display: -ms-flexbox;
    display: flex;
    padding: 2px 5px;
    margin: 0 20px;
  }
  .inner-splash h1 {
    font-size: 30px;
  }
  .inner-splash h2 {
    font-size: 50px;
  }
  .inner-splash a {
    font-size: 20px;
    padding: 30px 10px;
    position: absolute;
    transform: translateX(-50%);
    width: 200px;
  }
  .portfolio {
    padding: 100px 50px;
  }
  .portfolio .section-title {
    text-align: center;
  }
  .card-box img {
    height: 250px;
  }
  .footer {
    margin: 90px 0 0;
  }
  .footer .row {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .footer h6 {
    font-size: 15px;
    text-align: center;
  }
  .footer .col-md-6 {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer ul {
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container .col-md-6 {
    margin-right: 0;
  }
  .navi li {
    padding-bottom: 5px;
  }
  .footer .row {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
  .footer col-md-4 {
    text-align: center;
  }
  .footer h6 {
    font-size: 15px;
    width: 300px;
  }
  .footer col-md-6 {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */